<%= list.escape("title") %>

<ul class="cards sortable"></ul>

<div class='new-card' data-list-id="<%= list.escape("id")%>">
  <button class='create-card-form'>New Card</button>
</div>

<button class="delete-list" %>Delete List</button>
