<h3>Boards</h3>
<ul class="board-show group">
  <% boards.each( function (board) { %>
    <li>
      <a class="boards" href="#/boards/<%= board.escape("id")%>" ><%= board.escape("title") %></a>
    </li>
  <% }) %>
</ul>

<div id="new-board">
  <button class="create-board-form">Create New Board</button>
</div>
