<h3>New Board</h3>
<form class="new-board-form">
  <label>
    Title
    <input type="text" name="board[title]">
    <button class="create-board">Create New Board</button>
  </label>
</form>
<button class="close-form">Close</button>
