<h3 class="board-title"><%= board.get('title') %></h3>

<ul class="board-show sortable-list group"></ul>

<div class="new-list">
  <button class="create-list-form">Create New List</button>
</div>
<button class="delete-board" data-id="<%= board.get("id") %>">Delete Board</button>
